<a class="btn btn-info" ng-href="#/app/workorder/add">
    <span>Add Work Order</span> <i class="fa fa-pencil-square-o"></i>
</a>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Work Order ID</th>
            <th>Tenant ID</th>
            <th>Property ID</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Opened Date</th>
            <th>Closed Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="workorder in workorders">
            <td>{{workorder.WorkOrderId}}</td>
            <td>{{workorder.TenantId}}</td>
            <td>{{workorder.PropertyId}}</td>
            <td>{{workorder.Description}}</td>
            <td>{{workorder.Priority}}</td>
            <td>{{workorder.OpenedDate}}</td>
            <td>{{workorder.ClosedDate}}</td>
            <td>
                <a class="btn btn-info" ng-href="#/app/workorder/detail/{{workorder.WorkOrderId}}">
                    <i class="fa fa-pencil-square-o"></i>
                </a>
                <a class="btn btn-danger" ng-click="deleteWorkOrder(workorder)">
                    <i class="fa fa-times"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>