<div class="container-fluid" style="background: rgba(255, 255, 255, 0.8);">
    <div class="text-center">
        <h1>Dashboard</h1>
    </div>
    <form class="form-horizontal" role="form" style="margin-top:20px;">
        <div class="row">
            <!--Properties-->
            <div class="col-md-6" style="text-align:center">
                <h2>Properties</h2>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Property ID</th>
                            <th>Property Name</th>
                            <th>Address 1</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="property in properties | limitTo: 10 | orderBy:'-PropertyId'">
                            <td>{{property.PropertyId}}</td>
                            <td>{{property.PropertyName}}</td>
                            <td>{{property.Address.Address1}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Tenants-->
            <div class="col-md-6" style="text-align:center">
                <h2>Tenants</h2>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Tenant ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tenant in tenants | limitTo: 10 | orderBy:'-TenantId'">
                            <td>{{tenant.TenantId}}</td>
                            <td>{{tenant.FirstName}}</td>
                            <td>{{tenant.LastName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <!--Leases-->
            <div class="col-md-6" style="text-align:center">
                <h2>Leases</h2>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Lease ID</th>
                            <th>Tenant ID</th>
                            <th>Rent Amount</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="lease in leases | limitTo: 10 | orderBy:'-LeaseId'">
                            <td>{{lease.LeaseId}}</td>
                            <td>{{lease.TenantId}}</td>
                            <td>{{lease.RentAmount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--Work Orders-->
            <div class="col-md-6" style="text-align:center">
                <h2>Work Orders</h2>
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Work Order ID</th>
                            <th>Property ID</th>
                            <th>Tenant ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="workorder in workorders | limitTo: 10 | orderBy: '-WorkOrderId'">
                            <td>{{workorder.WorkOrderId}}</td>
                            <td>{{workorder.PropertyId}}</td>
                            <td>{{workorder.TenantId}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>