<form name="LeaseDetailForm">
    <div class="col-md-6">
        <div class="form-group">
            <label>Tenant ID</label>
            <input type="text" class="form-control" ng-model="lease.TenantId" />
        </div>

        <div class="form-group">
            <label>Property ID</label>
            <input type="text" class="form-control" ng-model="lease.PropertyId" />
        </div>

        <div class="form-group">
            <label>Lease Start Date</label>
            <input type="text" class="form-control" ng-model="lease.StartDate" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Lease End Date</label>
            <input type="text" class="form-control" ng-model="lease.EndDate" />
        </div>

        <div class="form-group">
            <label>Rent Amount</label>
            <input type="text" class="form-control" ng-model="lease.RentAmount" />
        </div>

        <div class="form-group">
            <label>Rent Frequency</label>
            <input type="text" class="form-control" ng-model="lease.RentFrequency" />
        </div>
    </div>

    <div class="well clearfix">
        <button class="btn btn-success pull-right" ng-click="saveLease()">
            Save
        </button>
    </div>
</form>